#content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#content > * {
    margin: 0 auto;
}

svg {
    display: block;
}

h1, h2 {
    text-align: center;
}

th, td {
    padding: 5px;
    white-space: nowrap;
}

table {
    border-spacing: 20px 0;
}

.party-logo {
    height: 40px;
    max-width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}